# Order Service
ORDER_DB_URL=jdbc:postgresql://localhost:5432/orders_db
ORDER_DB_USER=postgres
ORDER_DB_PASSWORD=changeme

# Inventory Service
INVENTORY_DB_URL=postgresql://localhost:5432/inventory_db
INVENTORY_DB_USER=postgres
INVENTORY_DB_PASSWORD=changeme

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_ORDER_PLACED=order.placed

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# SonarCloud (CI only)
SONAR_TOKEN=your_token_here
SONAR_ORGANIZATION=your_org
